<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.illustrated_guide.mapper.PropsMapper">

    <select id="searchTrain" parameterType="String" resultType="com.example.ticket_backend.bean.trainAllInformation">
        SELECT *
        FROM ticket."trainAllInformation"
        WHERE train_no = #{trainNo};
    </select>

    <select id="searchTrainByStation" resultType="com.example.ticket_backend.bean.trainAllInformation">
        SELECT *
        FROM ticket."trainAllInformation"
        WHERE begin_station = #{beginStation} AND end_station = #{endStation}
        ORDER BY train_no;
    </select>
</mapper>
