<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ticket_backend.mapper.trainAllInformationMapper">

    <select id="searchTrain" parameterType="String" resultType="com.example.ticket_backend.bean.trainAllInformation">
        SELECT *
        FROM ticket."trainAllInformation"
        WHERE train_no = #{trainNo};
    </select>

    <select id="searchTrainByStation" resultType="com.example.ticket_backend.bean.trainAllInformation">
        SELECT *
        FROM ticket."trainAllInformation"
        WHERE begin_station = #{beginStation} AND end_station = #{endStation}
        ORDER BY train_no;
    </select>

    <select id="showTrain" resultType="com.example.ticket_backend.bean.trainAllInformation">
        SELECT *
        FROM ticket."trainAllInformation"
        ORDER BY train_no;
    </select>

    <update id="changeTicket" parameterType="com.example.ticket_backend.bean.ticketChange">
        UPDATE ticket."trainInformation"
        SET start_time = #{ticket.startTime},
            finish_time  = #{ticket.finishTime}
        WHERE train_no = #{ticket.trainNo};
    </update>

    <delete id="deleteTrain" parameterType="String">
        DELETE
        FROM ticket."userTicket"
        WHERE "trainNo" = #{trainNo};
        DELETE
        FROM ticket.price
        WHERE ticket_no = #{trainNo};
        DELETE
        FROM ticket."seatNumber"
        WHERE train_no = #{trainNo};
        DELETE
        FROM ticket."trainInformation"
        WHERE train_no = #{trainNo};
    </delete>

    <insert id="addTrain">
        INSERT INTO ticket."trainInformation"(train_no, begin_station, end_station, start_time, finish_time)
        VALUES (#{trainInformation.trainNo}, #{trainInformation.beginStation},
                #{trainInformation.endStation}, #{trainInformation.startTime}, #{trainInformation.finishTime});
    </insert>

    <insert id="addTrainSeat" parameterType="com.example.ticket_backend.bean.seatNumber">
        INSERT INTO ticket."seatNumber"(train_no, hard_seat, soft_sleeper, not_seat)
        VALUES (#{seat.trainNo}, #{seat.hardSeat}, #{seat.softSleeper}, #{seat.notSeat});
    </insert>
</mapper>
