<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ticket_backend.mapper.userTicketMapper">

    <insert id="addTicket" parameterType="com.example.ticket_backend.bean.userTicket">
        INSERT INTO ticket."userTicket"(account, "trainNo", "seatClass")
        VALUES (#{userTicket.account}, #{userTicket.trainNo}, #{userTicket.seatClass});
    </insert>

    <select id="searchTicket" parameterType="String" resultType="com.example.ticket_backend.bean.ticket">
        SELECT "trainNo", "seatClass", begin_station, end_station, start_time, finish_time
        FROM ticket."userTicket", ticket."trainAllInformation"
        WHERE "trainAllInformation".train_no = "userTicket"."trainNo"
    </select>

    <delete id="deleteTicket">
        DELETE
        FROM ticket."userTicket"
        WHERE account = #{account} AND "trainNo" = #{trainNo};
    </delete>

</mapper>
